<div class="container mt-4">
  <h1>Editing car</h1>
  <div id="car-form"></div>
  <br>
  <div>
    <a href="/cars" class="btn btn-link">Back to cars</a>
  </div>
</div>
<%= javascript_include_tag 'cars_form' %>
