<div class="container mt-4">
  <h1 class="mb-4">Cars</h1>
  <div class="row" id="cars-list"></div>
  <div class="mt-4">
    <a href="/cars/new" class="btn btn-primary">Add New Car</a>
  </div>
</div>
<%= javascript_include_tag 'cars' %>
