<h2>Update Booking Status</h2>

<%= form_with model: [@garage, @booking], url: garage_booking_path(@garage, @booking), local: true do |form| %>
  <div class="mb-3">
    <%= form.label :status %>
    <%= form.select :status, Booking.statuses.keys.map { |s| [s.humanize, s] }, {}, class: "form-control" %>
  </div>

  <%= form.submit "Update", class: "btn btn-success" %>
<% end %>
